.wrapper {
  position: relative;
  z-index: 100;
  padding-top: 76px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    justify-content: normal;
    flex-direction: column;
  }
}

.textBlock {
  margin-right: 32px;

  @media (max-width: 1024px) {
    margin-right: 0;
    margin-bottom: 160px;
  }

  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 80px;
  }
}

.title {
  color: #ffe9f6;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  max-width: 618px;
  width: 100%;
}

.text {
  color: #ffe9f6;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 570px;
  margin: 50px 0;
}
